$brown: #251506;
$brown-light: #512e0d;
$green: #026904;
$light-green: #039B06;
$green-week: #DFFEE0;
$darkgreen: #1B2A06;
$red: #D90303;
$red-light: #ff0c0c;
$yellow: #E9FD08;
$gray: lightgray;
$gray-light: #F8F9FA;