.iconButton {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
    & img {
        width: 50%;
    }
}